.grid-item {
	width: 198px;
	height: 198px;
	background-color: #f1f1f1;
	box-shadow: 2px 2px 5px;
	position: relative;
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.grid-item:hover {
	transform: scale(1.05);
}
.circle {
	position: absolute;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #e07a64;
	top: -11px;
	left: -11px;
}
.offer-grid-container {
	width: 720px;
	height: 450px;
	margin: 50px auto;
	display: grid;
	gap: 64px;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 50% 50%;
	align-items: center;
	justify-items: center;
	justify-content: space-around;
	font-size: 24px;
}
